DB_VENDOR=mariadb
DB_USER=keycloak
DB_PASSWORD=<super secret mariadb's password>
KEYCLOAK_USER=mohitsharma44
KEYCLOAK_PASSWORD=<password to login to keycloak>
PROXY_ADDRESS_FORWARDING=true
VIRTUAL_HOST=ipa.cuspuo.internal
VIRTUAL_PORT=8080

