ALLOW_EMPTY_PASSWORD=no

MARIADB_ROOT_PASSWORD=<super secret root password>
MARIADB_DATABASE=keycloak
MARIADB_USER=keycloak
MARIADB_PASSWORD=<super secret password can be same as root for simplicity>

MYSQL_CLIENT_CREATE_DATABASE_NAME=keycloak
MYSQL_CLIENT_CREATE_DATABASE_USER=keycloak
MYSQL_CLIENT_CREATE_DATABASE_PASSWORD=<super secret maridb's root password>
